* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: white;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    max-width: 260mm;
    margin: 0 auto;
    gap: 20px;
    padding-top: 20px;
    background-color: #21202d;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    height: min-content;
}

.header-action {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid green;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 20px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    border: 1px solid white;
    border-radius: 6px;
    font-size: 21px;
    color: black;
}

h1, .title {
    font-size: 21px;
    font-weight: lighter;
}

button {
    font-size: 21px;
    color: black;
}

.white {
    color: white;
}

.green {
    color: green; 
}

.link {
    cursor: pointer;
    text-decoration: none;
}
